<div class="pd-Container">
            <div class="photo-form">
            
            <div id="details">
                <img id="user-photo" class="user-photo" src="images/avatars/{{user.avatar}}">
            </div>

            </div>

    <div class="change-form">
        <h3 align="left"><a href="./personalDetails" style="TEXT-DECORATION:none;color: white">â† Back</a></h3>
    <h2>Change Your Password</h2>
    {{#if message}}
    <h3>{{message}}</h3>
    {{/if}}
    
        <form action="./changePassword" method="POST">
            <input type="hidden" name="id" value="{{user.id}}">
            
            <div class="flex-col mb">
                <input type="password" name="password" id="txtPassword" placeholder="Password" required>
            </div>

            <div class="flex-col mb">
                <input type="password" name="confirmPassword" id="txtConfirmPassword" placeholder="Confirm your password" required>
            </div>
            
            <div class="flex-row justify-sb align-center">
                <button class="change-button" type="submit" style="cursor: pointer">Save Changes</button>
            </div>
        </form>
    </div>
</div>